<div class="modal fade" id="<%=modalId%>" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header custom-delete-header">
              <h5 class="modal-title"><%= title || 'Löschen bestätigen' %> </h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= bodyText %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>

              <form id="<%= formId %>" method="POST" action="">
                <input type="hidden" name="_method" value="DELETE">
                 <button type="button" class="btn btn-custom-danger" id="<%= submitButtonId %>">Ja, löschen</button>
              </form>

             
            </div>
          </div>
        </div>
      </div>