<nav class="navbar navbar-expand-lg bg-primary navbar-dark navbar sticky-top">
        <div class="container d-flex justify-content-between align-items-center">

          <!--Links: Logo und Multimedia Challenge -->
          <a class="navbar-brand fw-semibold d-flex align-items-center me-0" href="/">

            <svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="90px" height="100%" x="0px" y="0px"
              viewBox="0 0 81 43" class="me-4">
              <path id="svgLogoColorHTL" stroke-dasharray="300"
                d="M63.2959,26.9297 C63.2959,27.0617 63.1859,27.1727 63.0539,27.1727 L55.4319,27.1727 L53.2589,27.1727 C50.8379,27.1727 48.8689,25.2027 48.8689,22.7827 L48.8689,20.6447 L48.8689,8.3067 C48.8689,6.7697 47.6179,5.5197 46.0819,5.5197 L38.5519,5.5197 C37.0159,5.5197 35.7659,6.7697 35.7659,8.3067 L35.7659,26.9297 C35.7659,27.0617 35.6549,27.1727 35.5239,27.1727 L33.8669,27.1727 C33.7349,27.1727 33.6249,27.0617 33.6249,26.9297 L33.6249,8.3067 C33.6249,6.7697 32.3749,5.5197 30.8379,5.5197 L23.4429,5.5197 C21.9069,5.5197 20.6569,6.7697 20.6569,8.3067 L20.6569,26.9297 C20.6569,27.0617 20.5459,27.1727 20.4149,27.1727 L18.7579,27.1727 C18.6269,27.1727 18.5159,27.0617 18.5159,26.9297 L18.5159,19.1327 C18.5159,17.5957 17.2659,16.3467 15.7289,16.3467 L8.3069,16.3467 C6.7699,16.3467 5.5199,17.5957 5.5199,19.1327 L5.5199,26.9297 C5.5199,27.0617 5.4089,27.1727 5.2769,27.1727 L3.6209,27.1727 C3.4889,27.1727 3.3789,27.0617 3.3789,26.9297 L3.3789,3.6207 C3.3789,3.4897 3.4889,3.3787 3.6209,3.3787 L5.2769,3.3787 C5.4089,3.3787 5.5199,3.4897 5.5199,3.6207 L5.5199,11.4187 C5.5199,12.9547 6.7699,14.2047 8.3069,14.2047 L15.7289,14.2047 C17.2659,14.2047 18.5159,12.9547 18.5159,11.4187 L18.5159,9.9417 L18.5159,7.7677 C18.5159,5.3477 20.4849,3.3787 22.9049,3.3787 L25.0439,3.3787 L44.4459,3.3787 L46.6199,3.3787 C49.0409,3.3787 51.0099,5.3477 51.0099,7.7677 L51.0099,9.9067 L51.0099,22.2437 C51.0099,23.7807 52.2599,25.0307 53.7969,25.0307 L63.0539,25.0307 C63.1859,25.0307 63.2959,25.1417 63.2959,25.2737 L63.2959,26.9297 Z M65.8399,26.9297 L65.8399,25.2737 C65.8399,23.7367 64.5909,22.4867 63.0539,22.4867 L53.7969,22.4867 C53.6649,22.4867 53.5539,22.3757 53.5539,22.2437 L53.5539,9.9067 L53.5539,8.4197 L53.5539,7.7677 C53.5539,3.9447 50.4429,0.8347 46.6199,0.8347 L45.3169,0.8347 L44.4459,0.8347 L25.0439,0.8347 L24.5369,0.8347 L22.9049,0.8347 C19.0819,0.8347 15.9719,3.9447 15.9719,7.7677 L15.9719,9.3927 L15.9719,9.9417 L15.9719,11.4187 C15.9719,11.5507 15.8609,11.6607 15.7289,11.6607 L8.3069,11.6607 C8.1749,11.6607 8.0639,11.5507 8.0639,11.4187 L8.0639,3.6207 C8.0639,2.0847 6.8139,0.8347 5.2769,0.8347 L3.6209,0.8347 C2.0849,0.8347 0.8349,2.0847 0.8349,3.6207 L0.8349,26.9297 C0.8349,28.4667 2.0849,29.7167 3.6209,29.7167 L5.2769,29.7167 C6.8139,29.7167 8.0639,28.4667 8.0639,26.9297 L8.0639,19.1327 C8.0639,19.0007 8.1749,18.8897 8.3069,18.8897 L15.7289,18.8897 C15.8609,18.8897 15.9719,19.0007 15.9719,19.1327 L15.9719,26.9297 C15.9719,28.4667 17.2209,29.7167 18.7579,29.7167 L20.4149,29.7167 C21.9509,29.7167 23.2009,28.4667 23.2009,26.9297 L23.2009,8.3067 C23.2009,8.1747 23.3119,8.0637 23.4429,8.0637 L30.8379,8.0637 C30.9699,8.0637 31.0809,8.1747 31.0809,8.3067 L31.0809,26.9297 C31.0809,28.4667 32.3309,29.7167 33.8669,29.7167 L35.5239,29.7167 C37.0599,29.7167 38.3099,28.4667 38.3099,26.9297 L38.3099,8.3067 C38.3099,8.1747 38.4209,8.0637 38.5519,8.0637 L46.0819,8.0637 C46.2139,8.0637 46.3249,8.1747 46.3249,8.3067 L46.3249,20.6447 L46.3249,21.7567 L46.3249,22.7827 C46.3249,26.6057 49.4349,29.7167 53.2589,29.7167 L54.1089,29.7167 L55.4319,29.7167 L63.0539,29.7167 C64.5909,29.7167 65.8399,28.4667 65.8399,26.9297 Z">
              </path>
              <path id="svgLogoColorDish" stroke-dasharray="300"
                d="M65.8682,15.0537 C62.7102,10.4157 61.7972,5.3277 61.5322,2.7987 L78.2692,22.8007 C75.2662,21.8887 68.9052,19.5137 65.8682,15.0537 Z M73.2782,9.1637 L72.9072,9.5747 L73.5992,10.3837 L74.0692,10.1007 L73.2352,15.0997 L68.2682,9.1637 L73.2782,9.1637 Z M73.9832,15.9927 L74.9382,9.5757 L75.7692,9.0747 L74.6142,7.6877 L73.9672,8.4037 L73.9672,8.4027 L67.5292,8.2807 L61.2992,0.8347 L60.3442,1.1797 C60.3442,1.4927 60.3792,8.9147 64.9742,15.6627 C69.2542,21.9467 79.2502,24.2097 79.6742,24.3027 L80.2052,23.4277 L73.9832,15.9927 Z">
              </path>
              <path id="svgLogoColorBraunau" stroke-dasharray="300"
                d="M70.833,34.8218 C70.479,34.8218 70.191,35.1098 70.191,35.4628 L70.191,35.4938 L70.191,39.7058 C70.191,41.1638 70.643,42.0268 74.71,42.0268 L75.198,42.0268 L75.687,42.0268 C79.755,42.0268 80.205,41.1638 80.205,39.7058 L80.205,35.4938 L80.205,35.4628 C80.205,35.1098 79.917,34.8218 79.563,34.8218 L79.258,34.8218 C78.904,34.8218 78.617,35.1098 78.617,35.4628 L78.617,35.4938 L78.617,39.7058 C78.617,40.4768 78.04,40.7438 76.785,40.7438 L75.198,40.7438 L73.611,40.7438 C72.356,40.7438 71.779,40.4768 71.779,39.7058 L71.779,35.4938 L71.779,35.4628 C71.779,35.1098 71.492,34.8218 71.138,34.8218 L70.833,34.8218 Z
                M55.7529,42.0264 C56.1069,42.0264 56.3939,41.7384 56.3939,41.3854 L56.3939,41.3544 L56.3939,37.1414 C56.3939,35.6844 55.9429,34.8214 51.8759,34.8214 L51.3879,34.8214 L50.8989,34.8214 C46.8309,34.8214 46.3809,35.6844 46.3809,37.1414 L46.3809,41.3544 L46.3809,41.3854 C46.3809,41.7384 46.6679,42.0264 47.0219,42.0264 L47.3269,42.0264 C47.6809,42.0264 47.9679,41.7384 47.9679,41.3854 L47.9679,41.3544 L47.9679,37.1414 C47.9679,36.3714 48.5459,36.1044 49.7999,36.1044 L51.3879,36.1044 L52.9749,36.1044 C54.2289,36.1044 54.8069,36.3714 54.8069,37.1414 L54.8069,41.3544 L54.8069,41.3854 C54.8069,41.7384 55.0939,42.0264 55.4469,42.0264 L55.7529,42.0264 Z
                M35.1162,34.8218 C34.7622,34.8218 34.4752,35.1098 34.4752,35.4628 L34.4752,35.4938 L34.4752,39.7058 C34.4752,41.1638 34.9262,42.0268 38.9932,42.0268 L39.4822,42.0268 L39.9702,42.0268 C44.0382,42.0268 44.4882,41.1638 44.4882,39.7058 L44.4882,35.4938 L44.4882,35.4628 C44.4882,35.1098 44.2002,34.8218 43.8462,34.8218 L43.5422,34.8218 C43.1882,34.8218 42.9002,35.1098 42.9002,35.4628 L42.9002,35.4938 L42.9002,39.7058 C42.9002,40.4768 42.3232,40.7438 41.0692,40.7438 L39.4822,40.7438 L37.8942,40.7438 C36.6402,40.7438 36.0632,40.4768 36.0632,39.7058 L36.0632,35.4938 L36.0632,35.4628 C36.0632,35.1098 35.7752,34.8218 35.4222,34.8218 L35.1162,34.8218 Z
                M62.6816,40.7437 L61.0946,40.7437 C59.8406,40.7437 59.2626,40.4767 59.2626,39.7057 L59.2626,39.5847 C59.2626,38.8127 59.8406,38.5467 61.0946,38.5467 L62.6816,38.5467 L66.5896,38.5467 L66.5896,39.7057 C66.5896,40.4767 66.0126,40.7437 64.7576,40.7437 L63.2316,40.7437 L63.1706,40.7437 L62.6816,40.7437 Z M59.7826,34.8827 C59.4286,34.8827 59.1406,35.1697 59.1406,35.5237 C59.1406,35.8777 59.4286,36.1647 59.7826,36.1647 L59.9956,36.1647 L60.1486,36.1647 L63.1706,36.1647 L64.7576,36.1647 C66.0126,36.1647 66.5896,36.4317 66.5896,37.2027 L66.5896,37.2637 L62.6816,37.2637 L62.1936,37.2637 C58.1256,37.2637 57.6756,38.1267 57.6756,39.5847 L57.6756,39.7057 C57.6756,41.1637 58.1256,42.0267 62.1936,42.0267 L62.6816,42.0267 L63.1706,42.0267 L63.2316,42.0267 L63.6596,42.0267 C67.7266,42.0267 68.1766,41.1637 68.1766,39.7057 L68.1766,38.5467 L68.1766,37.2637 L68.1766,37.2027 C68.1766,35.7457 67.7266,34.8827 63.6596,34.8827 L63.1706,34.8827 L60.1486,34.8827 L59.9956,34.8827 L59.7826,34.8827 Z
                M27.21,40.7437 L25.623,40.7437 C24.368,40.7437 23.791,40.4767 23.791,39.7057 L23.791,39.5847 C23.791,38.8127 24.368,38.5467 25.623,38.5467 L27.21,38.5467 L31.117,38.5467 L31.117,39.7057 C31.117,40.4767 30.54,40.7437 29.286,40.7437 L27.759,40.7437 L27.698,40.7437 L27.21,40.7437 Z M24.31,34.8827 C23.956,34.8827 23.669,35.1697 23.669,35.5237 C23.669,35.8777 23.956,36.1647 24.31,36.1647 L24.523,36.1647 L24.676,36.1647 L27.698,36.1647 L29.286,36.1647 C30.54,36.1647 31.117,36.4317 31.117,37.2027 L31.117,37.2637 L27.21,37.2637 L26.722,37.2637 C22.654,37.2637 22.204,38.1267 22.204,39.5847 L22.204,39.7057 C22.204,41.1637 22.654,42.0267 26.722,42.0267 L27.21,42.0267 L27.698,42.0267 L27.759,42.0267 L28.187,42.0267 C32.254,42.0267 32.705,41.1637 32.705,39.7057 L32.705,38.5467 L32.705,37.2637 L32.705,37.2027 C32.705,35.7457 32.254,34.8827 28.187,34.8827 L27.698,34.8827 L24.676,34.8827 L24.523,34.8827 L24.31,34.8827 Z
                M14.9077,42.0264 C15.2617,42.0264 15.5487,41.7384 15.5487,41.3854 L15.5487,41.3544 L15.5487,37.1414 C15.5487,36.3714 16.1257,36.1044 17.3797,36.1044 L18.9677,36.1044 L19.8527,36.1044 L20.0667,36.1044 L20.2197,36.1044 C20.5727,36.1044 20.8607,35.8164 20.8607,35.4634 C20.8607,35.1094 20.5727,34.8214 20.2197,34.8214 L20.0667,34.8214 L19.8527,34.8214 L18.9677,34.8214 L18.4787,34.8214 C14.4107,34.8214 13.9607,35.6844 13.9607,37.1414 L13.9607,41.3544 L13.9607,41.3854 C13.9607,41.7384 14.2487,42.0264 14.6017,42.0264 L14.9077,42.0264 Z
                M7.123,37.6914 L7.611,37.6914 L8.71,37.6914 C9.965,37.6914 10.542,37.9584 10.542,38.7294 L10.542,39.7064 C10.542,40.4774 9.965,40.7434 8.71,40.7434 L7.123,40.7434 L2.483,40.7434 L2.483,37.6914 L7.123,37.6914 Z M7.123,34.2114 L8.71,34.2114 C9.965,34.2114 10.542,34.4784 10.542,35.2494 L10.542,35.3714 C10.542,36.1424 9.965,36.4094 8.71,36.4094 L7.611,36.4094 L7.123,36.4094 L2.483,36.4094 L2.483,34.2114 L7.123,34.2114 Z M1.476,32.9294 C1.122,32.9294 0.834,33.2164 0.834,33.5704 L0.834,33.6004 L0.834,36.4094 L0.834,37.6914 L0.834,41.3854 L0.834,41.4154 C0.85,41.7564 1.132,42.0264 1.476,42.0264 L1.689,42.0264 L1.842,42.0264 L7.123,42.0264 L7.611,42.0264 C11.679,42.0264 12.13,41.1634 12.13,39.7064 L12.13,38.7294 C12.13,38.0174 12.023,37.4474 11.437,37.0504 C12.023,36.6534 12.13,36.0844 12.13,35.3714 L12.13,35.2494 C12.13,33.7914 11.679,32.9294 7.611,32.9294 L7.123,32.9294 L1.842,32.9294 L1.689,32.9294 L1.476,32.9294 Z">
              </path>
            </svg>

            <span>Multimedia Challenge</span>
          </a>

          <!-- BURGER MENU -->
          <button class="navbar-toggler order-lg-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Mittig: Naviagtions-Eintr채ge -->
          <div class="collapse navbar-collapse order-lg-2 flex-grow-1" id="navbarNav">
            <ul class="navbar-nav mx-auto"> <!-- mx-auto zentriert die Links -->
              <!-- f체r alle sichtbar!!!: -->
              <% if (currentUser && currentUser.user_role_id !==1) { %>
                <li class="nav-item">
                  <a class="nav-link <%= activePage === 'kategorien' ? 'active' : '' %>"
                    aria-current="<%= activePage === 'kategorien' ? 'page' : '' %>" href="/">Kategorien</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link <%= activePage === 'aufgabenpakete' ? 'active' : '' %>"
                    href="/aufgabenpakete">Aufgabenpakete</a>
                </li>
                <% } %>
                  <li class="nav-item">
                    <a class="nav-link <%= activePage === 'challenges' ? 'active' : '' %>"
                      aria-current="<%= activePage === 'challenges' ? 'page' : '' %>" href="/challenges">Challenges</a>
                  </li>
                  <!-- Nur f체r Lehrer und Admin sichtbar!: -->
                  <% if (currentUser && currentUser.user_role_id !==1) { %>
                    <li class="nav-item">
                      <a class="nav-link <%= activePage === 'schueler' ? 'active' : '' %>"
                        aria-current="<%= activePage === 'schueler' ? 'page' : '' %>" href="/schueler">Sch체ler</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link <%= activePage === 'lehrer' ? 'active' : '' %>"
                        aria-current="<%= activePage === 'lehrer' ? 'page' : '' %>" href="/lehrer">Lehrer</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link <%= activePage === 'teams' ? 'active' : '' %>" href="/teams">
                        Teams
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link <%= activePage === 'bewertung' ? 'active' : '' %>"
                        aria-current="<%= activePage === 'bewertung' ? 'page' : '' %>" href="/bewertung">Abgaben</a>
                    </li>
                    <% } %>
            </ul>
          </div>

          <!-- Rechts: Layout Button und Username -->
          <div class="navbar-nav align-items-center order-lg-3">
            <% if (currentUser) { %>
              <span class="navbar-text me-3"><i class="bi bi-person"></i>
                <%= currentUser.vorname %>
                  <%= currentUser.nachname %>
                    <small class="text">(<%= currentUser.rolle %>)</small>
              </span>
              <form action="/auth/logout" method="POST" class="d-inline">
                <button type="submit" class="btn btn-outline-light btn-sm">Logout<i
                    class="bi bi-box-arrow-right ms-2"></i></button>
              </form>
              <% } else { %>
                <a href="/auth/login" class="btn btn-outline-light btn-sm">Login<i
                    class="bi bi-box-arrow-in-right ms-2"></i></a>
                <% } %>
          </div>
        </div>
      </nav>