<% pageTitle=title %>
<h1 class="h4 mb-3">
  <%= title %>
</h1>
<form action="<%= action %>" method="POST">
  <div class="mb-3">
    <label class="form-label">Vorname *</label>
    <input type="text" name="vorname" class="form-control" required value="<%= item.vorname || '' %>">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Nachname *</label>
    <input type="text" name="nachname" class="form-control" required value="<%= item.nachname || '' %>">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Klasse</label>
    <select name="klasse" class="form-control">
      <option value="">Keine Klasse</option>
      <option value="1bhels" <%= (item.klasse === '1BHELS') ? 'selected' : '' %>>1BHELS</option>
      <option value="2bhels" <%= (item.klasse === '2BHELS') ? 'selected' : '' %>>2BHELS</option>
      <option value="3bhels" <%= (item.klasse === '3BHELS') ? 'selected' : '' %>>3BHELS</option>
      <option value="4bhels" <%= (item.klasse === '4BHELS') ? 'selected' : '' %>>4BHELS</option>
      <option value="5bhels" <%= (item.klasse === '5BHELS') ? 'selected' : '' %>>5BHELS</option>
    </select>
  </div>

  <button type="submit" class="btn btn-custom-safe">Speichern</button>
  <a href="/schueler" class="btn btn-outline-secondary">Abbrechen</a>
</form>